
<div *ngIf="schedule">
    <h2><span>Schedule</span> {{schedule.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Description</span></dt>
        <dd>
            <span>{{schedule.description}}</span>
        </dd>
        <dt><span>Event Date</span></dt>
        <dd>
            <span>{{schedule.eventDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
            <span>{{schedule.location}}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
            <span>{{schedule.title}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'schedule/'+ schedule.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
