<div class="container sentry-main">
    <div class="row" *ngIf="!isAuthenticated()">
        <div class="col-md-12">
            <h1 class="display-4 text-center">Welcome to Sentry!</h1>
            <div>
                <div class="alert alert-info">
                    <span>If you want to </span>
                    <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default account:<br/> - User (login="user" and password="user").</span>
                </div>

                <div class="alert alert-info">
                    <span>You don't have an account yet?</span>
                    <a class="alert-link" routerLink="register">Register a new account</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="isAuthenticated()">
        <div class="col-md-6 col-sm-12">
            <div class="card sentry-card">
                <div class="card-block">
                    <h4 class="card-title">
                        <i class="fa fa-user-o" aria-hidden="true"></i> Users Registered 
                        <span class="badge badge-success">{{users?.length}}</span>
                        <small>
                            <a class="sentry-edit-link float-right" routerLink="/user-management">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </small>
                    </h4>
                    <div *ngIf="users">
                        <p *ngFor="let user of users" class="card-text">
                            <strong>{{user.login}}</strong> 
                            <span *ngIf="user.activated" class="activated float-right"></span>
                            <span *ngIf="!user.activated" class="deactivated float-right"></span>  
                        </p>
                    </div>        
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card sentry-card">
                <div class="card-block">
                    <h4 class="card-title"><i class="fa fa-credit-card" aria-hidden="true"></i> Expenses</h4>
                    <p class="card-text">Information about your latest expenses</p>         
                </div>         
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card sentry-card">
                <div class="card-block">
                    <h4 class="card-title"><i class="fa fa-envelope-o" aria-hidden="true"></i> E-mail messages</h4>         
                    <p class="card-text">Here there will be a Gmail integration so i can have a quick check in the latest e-mails of my inbox</p>         
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card sentry-card">
                <div class="card-block">
                    <h4 class="card-title">
                        <i class="fa fa-book" aria-hidden="true"></i> Scheduling 
                        <span class="badge badge-success">{{schedules?.length}}</span>
                        <small>
                            <a class="sentry-edit-link float-right" routerLink="/schedule">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </small>
                    </h4>
                    <div *ngIf="schedules">
                        <span *ngFor="let schedule of schedules" class="card-text">{{schedule.title}} - {{schedule.eventDate | date}} at {{schedule.location}}
                            <hr>
                        </span>

                    </div>
                </div>         
            </div>
        </div>
    </div>
</div>
